.App {
  text-align: center;
}

body{
  background-image: url("images/star-wars-backgrounds-25.jpg")
}

nav {
  position: absolute;
  right: 0;
  left: 0;
  width: 319px;
  display: table;
  z-index: 300;
}

a.nav-link{
  position: relative !important ;
}

nav .nav-link
{
  position: relative;
  width: 33.333%;
  display: table-cell;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.2s ease color;
}

nav .nav-link:before, nav .nav-link:after
{
  content: "";
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.2s ease transform;
}

nav .nav-link:before
{
  top: 0;
  left: 100px;
  width: 6px;
  height: 6px;
}

nav .nav-link:after
{
  top: 5px;
  left: 110px;
  width: 4px;
  height: 4px
}

nav .nav-link:nth-child(1):before
{
  background-color: yellow;
}

nav .nav-link:nth-child(1):after
{
  background-color: #89ff00;
}

#indicator
{
  position: absolute;
  left: 2%;
  bottom: 0;
  height: 4px;
  background-color: #daff37;
  border-radius: 5px;
}

nav .nav-link:hover
{
  color: #daff37;
}

nav .nav-link:hover:before, nav .nav-link:hover:after
{
  transform: scale(1);
}




